# Android/Gradle
.gradle/
local.properties
/.kotlin/
/.gradle/
/build/
/app/build/
/app/.cxx/
/.cxx/
**/.kotlin/
**/.gradle/
**/build/
**/.cxx/
**/intermediates/
**/kspCaches/
**/generated/
**/.idea/caches/
/captures/
.externalNativeBuild/
**/obj/
**/bin/
pos-sync-service/installation/
pos-sync-service/installation.rar

# IDEs
.idea/
*.iml
.vscode/
.fleet/

# Artifacts
*.apk
*.ap_
*.aab
*.aar

# Logs and dumps
*.hprof
*.log

# OS junk
.DS_Store
Thumbs.db
Ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Others
/out/
/.settings/
/node_modules/
**/node_modules/
**/.next/
